@import '../../global.scss';
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  position: relative;
  z-index: 199;

  h1 {
    color: $titleColor;
    font-size: 1.5rem;
  }
  &_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    white-space: nowrap;
    @include navResponsive;
  }

  &_menu-items {
    font-size: 1rem;
    &:nth-last-child(1) {
      background-color: $secondColor;
      padding: 0.3rem 1.8rem 0.3rem 1.8rem;
    }
  }
  &_menu-contact {
    color: $backgroundFirst;
  }
  &_menu-icons {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    @media screen and (max-width: 780px) {
      display: flex;
    }
  }
  @media screen and (max-width: 900px) {
    padding: 0 1rem;
  }
}
