@import '../../global.scss';

.testimonial {
  background-color: $backgroundWhite;
  padding: 2rem 4rem;
  &_bloc {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;
    gap: 2rem;
    &-only {
      max-width: 23rem;
      background-color: #f7f6f6;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
      box-shadow: 0px 7px 22px -12px rgba(0, 0, 0, 0.1);
      .people_appreciation {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
        .people {
          background-color: $textColor;
          height: 3rem;
          width: 3rem;
          padding: 0.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          &_icon {
            font-size: 2rem;
          }
        }
        .star {
          white-space: nowrap;
        }
      }
      .info {
        font-size: 0.9rem;
        font-weight: bold;
      }
      .text {
        font-size: 0.9rem;
        line-height: 1.5rem;
      }
      @media (max-width: 720px) {
        max-width: 100%;
      }
    }
    @media (max-width: 720px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media (max-width: 720px) {
    padding: 2rem 1rem;
  }
}
