@import '../../global.scss';

button {
  padding: 0.5rem 1rem;
  background: none;
  border: 1px solid $textColor;
  font-family: 'Mukta', sans-serif;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  color: $backgroundWhite;
  background-color: $secondColor;
  border: none;
  outline: none;
  &:hover {
    background-color: $itemsColor;
    color: $backgroundFirst;
    border: 1px solid $backgroundWhite;
  }
  @media (max-width: 620px) {
    padding: 0.3rem 0.6rem;
  }
}
