@import '../../global.scss';
.agent {
  padding: 2rem 4rem;
  &_present {
    display: flex;
    justify-content: space-between;
    align-items: start;
    @media (max-width: 1080px) {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
    }

    h2 {
      width: 30%;
      color: $titleColor;
      @media (max-width: 1080px) {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        @media (max-width: 720px) {
          font-size: 1rem;
        }
      }
    }
    &-text {
      width: 40%;

      p {
        color: $textColor;
        padding-bottom: 0.8rem;
        @media (max-width: 1080px) {
          text-align: center;
          padding-bottom: 0.6rem;
        }
        @media (max-width: 720px) {
          font-size: 0.8rem;
        }
      }
      @media (max-width: 1080px) {
        display: flex;
        flex-direction: column;
        width: auto;
        align-items: center;
        justify-content: center;
      }
    }
  }
  @media (max-width: 720px) {
    padding: 2rem 1rem;
  }
  &_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 0;
    h2 {
      color: $titleColor;
    }
    &-text {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      @media (max-width: 1080px) {
        width: 100%;
      }
      p {
        color: $textColor;
      }
    }
  }

  &_people {
    margin-top: 7rem;
    place-content: center;
    &-all {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 4%;
      @media (max-width: 1125px) {
        row-gap: 6.5rem;
      }

      &_grid {
        border: 1px solid rgba(237, 234, 234, 0.55);
        -webkit-background-clip: padding-box; /* for Safari */
        background-clip: padding-box;
        position: relative;
        width: 12rem;
        height: 26vh;
        display: flex;
        justify-content: center;
        &-face {
          padding: 0 0;
          height: 30vh;
          width: 10rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          bottom: 4rem;
          .image_face {
            background-color: #f5f9fc;
          }
          .people {
            width: 10em;
          }

          .infos {
            width: 100%;
            text-align: center;
            line-height: 1.9rem;
            .nom_face {
              color: $titleColor;
              font-weight: 600;
            }
            .nom_work {
              color: $textColor;
              font-weight: 300;
              font-size: 0.9rem;
            }
            .sociaux {
              display: flex;
              justify-content: center;
              gap: 0.5rem;
            }
          }
        }
      }
    }
  }
}
