@import '../../global.scss';

section {
  padding: 1rem 0 1rem 0;
  .partner_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: $titleColor;
    }
    p {
      color: $textColor;
    }
  }
  .partner_image {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem 4rem;
    .partner_image-block {
      width: 8rem;
      display: flex;
    }
  }
}
