@import '../../global.scss';
.feature {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  .feature_text {
    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
      padding-bottom: 1rem;
      @media (max-width: 720px) {
        text-align: center;
      }
    }
    .feature_text-p {
      font-size: 1rem;
      color: $textColor;
      padding-bottom: 2rem;
      @media (max-width: 720px) {
        text-align: center;
      }
    }
    .feature_text-step {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      @media (max-width: 724px) {
        grid-template-columns: 1fr;
      }

      div {
        height: fit-content;
        background-color: $backgroundFirst;
        padding: 0.2rem 0.3rem 0.2rem 0.8rem;
        border-left: 7px solid $itemsColor;
        h3 {
          font-size: 0.9rem;
          white-space: nowrap;
          @media (max-width: 1200px) {
            font-size: 0.7rem;
          }
          @media (max-width: 1080px) {
            font-size: 0.9rem;
          }
        }
        .feature_text-step-p {
          font-size: 0.8rem;
          color: $textColor;
          // display: none;
        }
      }
    }
  }
  .feature_image {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    position: relative;
    padding: 2rem 0;
    height: fit-content;
    @media (max-width: 1080px) {
      align-items: start;
      position: relative;
      padding: 5rem 0rem 2rem 0rem;
    }
    .feature_image-picture {
      width: 35rem;
      height: auto;
      @media (max-width: 1080px) {
        width: 30rem;
        height: auto;
      }
      @media (max-width: 640px) {
        width: 20rem;
        height: auto;
      }
    }
    .feature_image-tenants {
      position: absolute;
      top: -0.5rem;
      left: 0;
      box-shadow: 0px 8px 24px -3px rgba(0, 0, 0, 0.1);
      background-color: $backgroundWhite;
      height: fit-content;
      padding: 1rem;
      border-radius: 0.2rem;
      @media (max-width: 1080px) {
        top: 2.2rem;
        left: -1.5rem;
      }
      @media (max-width: 640px) {
        top: 1rem;
        left: 0;
      }
      h3 {
        font-size: 1rem;
        @media (max-width: 720px) {
          font-size: 0.8rem;
        }
      }
      .feature_image-tenants_section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        @media (max-width: 640px) {
          gap: 0.8rem;
        }

        .feature_image-tenants_acronym {
          background-color: rgb(224, 224, 224);
          padding: 0.8rem;
          border-radius: 50%;
          width: 1.8rem;
          height: 1.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 640px) {
            padding: 0.5rem;
            font-size: 0.6rem;
            width: 1rem;
            height: 1rem;
          }
        }
        .feature_image-tenants_infos {
          display: block;
          p {
            &:nth-child(1) {
              font-weight: bold;
              font-size: 0.9rem;
              @media (max-width: 640px) {
                font-size: 0.7rem;
              }
            }
            &:nth-child(2) {
              font-size: 0.8rem;
              color: $textColor;
              @media (max-width: 640) {
                font-size: 0.5rem;
              }
            }
          }
        }
        .feature_image-tenants_icons {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $itemsColor;
          border-radius: 50%;
          padding: auto;
          width: 1.7rem;
          height: 1.7rem;
          cursor: pointer;
          @media (max-width: 640px) {
            border-radius: 100%;
            padding: auto;
            width: 1rem;
            height: 1rem;
          }
          .icon {
            font-size: 0.6rem;
            color: white;
            @media (max-width: 640px) {
              font-size: 0.3rem;
            }
          }
        }
      }
    }
    .feature_image-tenants_validate {
      background-color: $secondColor;
      color: white;
      padding: 0.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 10%;
      right: 0;
      .feature_image-tenants_validate-icon {
        font-size: 2rem;
        @media (max-width: 720px) {
          font-size: 1.5rem;
        }
      }
    }
    .feature_image-tenants_building-infos {
      position: absolute;
      bottom: 2.5rem;
      right: 0;
      display: flex;
      align-items: end;
      background-color: $backgroundFirst;
      gap: 0.5rem;
      padding: 0.3rem 1rem 0.3rem 0.5rem;
      border-radius: 2%;
      box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
      @media (max-width: 640px) {
        bottom: 10%;
        right: 0;
        padding: 0.2rem 0.8rem 0.2rem 0.3rem;
      }

      .feature_image-tenants_building {
        background-color: $itemsColor;
        padding: 0.3rem;
        display: flex;
        .feature_image-tenants_building-icon {
          color: $backgroundWhite;
          font-size: 2rem;
        }
      }
      .feature_image-tenants_building-text {
        p {
          &:nth-child(1) {
            color: $textColor;
            font-size: 0.6rem;
            font-weight: bold;
          }
          &:nth-child(2) {
            font-size: 0.8rem;
            font-weight: bold;
          }
        }
      }
    }
  }
  @media (max-width: 1560px) {
    column-gap: 2rem;
  }
  @media (max-width: 1080px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 720px) {
    padding: 2rem 1rem;
  }
}
