@import '../../global.scss';
.presentation {
  width: 100%;
  position: relative;
  z-index: 999;
  overflow: visible;

  display: flex;
  @include HeroResponsive;
  &_text {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
    gap: 2rem;
    @media (max-width: 900px) {
      padding: 0 1rem 0 1rem;
      width: 100%;
      align-items: center;
    }
    .presentation_text-block {
      width: 110%;

      h1 {
        font-size: 3.5rem;
        line-height: 4rem;
        padding-bottom: 2rem;
        color: $titleColor;
        position: relative;
        z-index: 9999;
        @media (max-width: 900px) {
          text-align: center;
          padding: 1.5rem;
        }
      }
      p {
        font-size: 1.2rem;
        color: $textColor;
        text-shadow: 15px 1px 10px rgba(183, 183, 183, 0.19);
        position: relative;
        z-index: 9999;
        @media (max-width: 900px) {
          text-align: center;
        }
      }
    }
    &-nav {
      height: 7rem;
      margin-bottom: 2rem;
      z-index: 9999;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 1.95px 2.6px;
      @media (max-width: 900px) {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      &_tab {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 30%;
        @media (max-width: 768px) {
          width: 100%;
        }
        li {
          text-align: center;
          cursor: pointer;
          color: $textColor;

          &:nth-child(2) {
            border-left: 1px solid rgba(237, 234, 234, 0.887);
            border-right: 1px solid rgba(237, 234, 234, 0.887);
            -webkit-background-clip: padding-box; /* for Safari */
            background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
          }
        }
      }
      &_information {
        background-color: #ffffff;
        width: 170%;
        height: 70%;
        box-shadow: rgba(0, 0, 0, 0.01) 1.95px 1.95px 2.6px;
        display: flex;
        @media (max-width: 900px) {
          width: 100%;
          height: fit-content;
        }
        form {
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-items: center;
          padding: 1rem;
          width: 100%;
          @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            padding: 1rem 0.2rem;
          }
          .form_detail {
            display: grid;
            // grid-template-columns: repeat(3, 1fr);
            grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
            width: 90%;
          }
          .presentation_text-nav_information-detail {
            width: 90%;
            display: flex;
            flex-direction: column;
            label {
              font-size: 0.8rem;
              font-weight: bold;
              padding-left: 0.3rem;
              white-space: nowrap;
            }
            input {
              padding: 0.4rem 0 0.4rem 0.3rem;
              border: 1px solid rgba(237, 234, 234, 0.55);
              -webkit-background-clip: padding-box; /* for Safari */
              background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
              border-radius: 3px;

              &::placeholder {
                font-size: 0.7rem;
              }
              &:focus {
                border: 1px solid rgba(237, 234, 234, 0.99);
                -webkit-background-clip: padding-box; /* for Safari */
                background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
                outline: none;
              }
            }
          }
          .presentation_text-nav_information-icon {
            background-color: $secondColor;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            cursor: pointer;
            @media (max-width: 768px) {
              width: 50%;
              &::after {
                content: 'Search';
                color: $backgroundFirst;
                font-size: 1rem;
              }
            }
            .drawing {
              font-size: 3rem;
              padding: 0.7rem 0rem 0.7rem 0.7rem;
              color: $backgroundFirst;
            }
          }
        }
      }
    }
  }

  &_image {
    width: 120%;
    background-image: url(../../assets/11.jpg);
    background-size: cover;
    background-position: center;

    @media (max-width: 900px) {
      width: 100%;
      height: 50vw;
    }
  }
}
