@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

$primaryColor: #3b454f;
$secondColor: #20a39d;
$backgroundFirst: #edeee9;
$backgroundWhite: #fafafa;
$textColor: #acc1cf;
$titleColor: #29333d;
$itemsColor: #f6624a;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62, 5%; //62.5% === 10px So 1rem= 10px, 16px=1.6rem
  font-family: 'Mukta', sans-serif;
  font-size: 18px;

  a {
    list-style: none;
    text-decoration: none;
    color: $primaryColor;
  }
  img {
    width: 100%;
    height: 100%;
  }
}
// #root {
//   // position: relative;
// }
//Responsive Nav Bar
@mixin navResponsive {
  @media screen and (max-width: 780px) {
    display: flex;
    flex-direction: column;
    background-color: $backgroundFirst;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -150%;
    z-index: 2;
    transition: 0.3s ease-in-out;
  }
  &.active {
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
}
@mixin HeroResponsive {
  @media screen and (max-width: 900px) {
    flex-direction: column;
    overflow-x: hidden;
  }
}
@mixin TextCenter {
  @media screen and (max-width: 900px) {
    text-align: center;
  }
}
